/* App-wide styling */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0a0a0a;
}

#main-box {
  position: fixed;
  inset: 0px;
  margin: auto;
  width: 600px;
  height: 750px;
  box-shadow: 0 0 14px #1b1b1b;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #101010;
  border-radius: 1.5rem;
}

.text {
  color: #ffffff;
  font-size: 24px;
  font-family: "Inter Tight";
}

